<div class="commentsList">
	<%= page_title "User Comments" %>
	
	<div class="comment">
		<% for comment in @comments %>
			<div class="title"><%= link_to comment.title, comment.commentable %></div>
			<div class="byline"><%= comment.name %></div>
			
			
		<% end %>
	</div>
	
</div>