<div class="adminFeedsPage">

<table border="1px">
	<tr>
		<th>ID</th>
		<th>Title</th>
		<th>Image</th>
		<th>Feed Url</th>
		<th>Description</th>
		<th>Created At</th>
		<th>Updated At</th>
		<th>Url</th>
		<th>Clicks</th>
		<th>Rating</th>
		<th>Disabled</th>
		<th>Disabled Reason</th>
		<th>Actions</th>
	</tr>
	<% @feeds.each { |it| %>
		<tr id="feedRow<%= it.id %>">
			<%= render :partial => 'admin_row', :locals => { :it => it } %>
		</tr>
	<% } %>
</table>

</div>