<div class="advertise">
	<%= page_title 'Advertise With Us' %>
	
	thepeoplesfeed.com offers many advertising options that will help you reach your advertising goal.  Customers can target their advertising to consumer's who are exploring topics similar to your business.  Please email <a href="mailto:webmaster@thepeoplesfeed.com">the webmaster</a> for more information.
	
</div>