<%= meta_description 'Explore different ways you can contribute to ThePeoplesFeed.com.  Help make the news come to the people!'%>
<div class="joinUs">
	<%= page_title "Contribute - Help The People's Feed Grow" %>
	<p class="overview">
		ThePeoplesFeed needs help. Smart, ingenious folks just like you can help this site grow.  There are multiple different ways to contribute.  Please help harvest the sea of RSS feeds.
	</p>
	<h2>Why Contribute</h2>
	<p>
		Contributing to TPF is valuable and fun experience.  Helping out lets you gain professional experience while enriching the internet and meeting interested like minded individuals like yourself.  Read on for more information.
	</p>
	<h2>Ways to contribute:</h2>
	<ul>
		<li><a href="#user">Use ThePeoplesFeed.com!</a></li>
		<li><a href="#editor">Edit content and categorization</a></li>
		<li><a href="#graphics">Make it pretty</a></li>
		<li><a href="#work">Make it work</a></li>
		<li><a href="#donate">Donate</a></li>
	</ul>
	
	<h3><a name="user">Users</a></h3>
	<p>
		TPF (anonymously) records information about what feeds are most popular from users like you!  We then use this information to ensure that we are consistently delivering the highest quality news and information.  For example, if news outlet A and news outlet B both publish articles about topic x and people view the news article from company A more than a similar article from company B, we will show story x from company A more prominently.  More than that, we will start featuring all news stories from company A in a better position.  You, the average TPF user, continuously help to make our stream of news articles the highest quality.
	</p>
	<h3><a name="editor">Content Editors</a></h3>
	<p>
		TPF does its best to show only the highest quality news decided by consumers like you.  Sometimes, our algorithms can't take us far enough.  Editors help take TPF to the next level by categorizing and adjusting the rating for particular pieces of content.  Content editors are known for their fairness and incredible attention to detail. Please email <a href="mailto:webmaster@thepeoplesfeed.com">us</a> for more information.
	</p>
	<h3><a name="graphics" >Graphic Designers/Information Architects</a></h3>
	<p>
		There is no need to deny it; TPF could use some graphical updates as well as some information architecture updates.  Flex your design eye and help TPF put on a new pair of trousers.  Regardless of your particular skill set or skill level, TPF will work hard to fit you into our growing network of web masters.  
	</p>
	<h3><a name="work">Software Engineers</a></h3>
	<p>
		Want to flex your Ruby on Rails programming might?  Nuby looking to learn Ruby on Rails?  Either way, join our friendly team to gain more experience and help make the web better.  TPF is an open source project.  Although we are actively working towards putting our source control on GitHub, please email <a href="mailto:webmaster@thepeoplesfeed.com">us</a> for immediate access to the source code.
	</p>
	<h3><a name="donate">Donate</a></h3>
	<p>
		TPF is currently pretty cheap to host. It is not free however.  Please donate to help keep TPF out of the red.  For a complete financial outline, please email <a href="mailto:webmaster@thepeoplesfeed.com">us</a>.  As with many other things, we plan on making the finances of TPF as 'open' as our 'open' source code.  We have not yet come across the free time to make this information available without exposing ourselves to risk.
	</p>
</div>