<div class="howItAllWorks">
	<%= page_title 'How It All Works'%>
	
	<p>ThePeoplesFeed (or <strong>TPF</strong> as we like to say) collects RSS feeds <i>(RSS feeds are a stream of news articles published in a format that is easy for computers to read)</i> to get the latest news articles from multiple different news outlets.  We combine those news articles from many sources into one list.  This helps you by giving you a more "whole" picture of the news world. Then,  <strong>TPF</strong> sorts the news articles from all different sources by the popularity of the article.  Whenever a user views a feed on the TPF, we (anonymously) collect information about the article that the consumer has viewed.  We can then combine this information across lots of consumers and articles and determine which news sources and articles the "people" love. 
	</p>
</div>