<div class="openSource whiteBackground">
	<%= page_title 'Open Source Consumer Website' %>
	<p>
		The People's Feed (TPF) is an open source Ruby On Rails backed website.  While we strive to accomplish many things, one certain goal is improving the skills of all involved in TPF through our agile open source development strategies.  Please feel free to browse our code base, check out our techniques, and please, feel free to correct us if we make a mistake.  We are all here to learn.  In addition to having open source code base, we also have an open source marketing initiative.  TPF provides a unique experience for you to have a voice in every aspect of an online marketing play.
	</p>
	<p>
		Visit our <a href="http://github.com/jenglert/The-Peoples--Feed/tree/master">GitHub</a> page to browse our source code.  Watch our project for updates and new features.  Soon, we will have a mailing list to help the team keep up to date on new TPF happenings.
	</p>
	<p>
		If you would like to join us, just drop us a <a href="mailto:webmaster@thepeoplesfeed.com">line</a>.
	</p>
</div>