<div class="openSource whiteBackground">
	<%= page_title 'Open Source Consumer Website' %>
	<p>The People's Feed (TPF) is an open source website.  While we strive to accomplish many things, one certain goal is improving the skills of all involved in TPF through our agile open source development strategies.
	</p>
</div>