<div class="privacyPolicy">
	<%= page_title 'Privacy Policy' %>
	
	Your privacy is very important to us.  This will be quick.  Feel safe knowing that we will not share your information with anyone.  We will also not send you any email.  If you have any questions please <%= link_to 'contact us', '/contact-us'%>.
</div>