<div class="forgotPassword whiteBackground">
	<%= page_title 'Forgot Password' %>
	Forgot your password?  Just enter your email below and we will email you a new password.
	
	<% form_tag '/session/send_forgot_password' do -%>
		<%= text_field_tag :email %>
	
		<%= submit_tag "Email me a new password"%>
	<% end -%>

</div>