<div class="emailSubscriptionSuccess whiteBackground">
	<%= page_title "Thank You For Subscribing" %>
	<p>
		The email: <%= @email_subscription.email %> has been subscribed to our email list.
	</p>
</div>