<div class="feedItemNarrow">
	<h4>
		<% link_to feedItem.itemUrl do%>
			<%= truncate h(feedItem.title), 55, '...' %>
		<% end %>
	</h4>
	<div class="feedItemCreated">
		<%= feedItem.created_at.pretty%>
	</div>
	<div class="feedItemDescription">
		<%= truncate h(feedItem.description), 360, '...'%>
	</div>
</div>