<%= @email_a_friend_settings.sender_email_address %> wants to let you know about a page on The People's Feed:

<%= @email_a_friend_settings.url %>?utm_medium=email&utm_source=emailafriend

<%= @email_a_friend_settings.message %>